.shop-category-banner{
    display: block;
    width: 81%;
    margin: 30px auto;

}

.shop-category-products{
 
    margin: 20px 20px 20px 30px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}